
.navBar{

  top: 0;
  height: 150px;
}

.pages{
  height: 40px;
  background-color: black;
  position: relative;
  margin-top: 2%;

}

.Home{
  margin-top: 3px;
  min-height: 79vh;
}

.contato{           
  width: 100%;    
  background-color: black;
}

.redeSocial{
  margin-right: 400px;
}

.loginPage{
  min-height: 79vh;
}

.blocoLogin {
  background-color: gainsboro;
}

.cadastro{
  min-height: 79vh;
}

.blocoCadastro {
  background-color: gainsboro;
}

.Champs{
  background-color: gray;
  color: black;
  border: solid 4px;
  border-color: brown;
  margin-top: 30px;
}

.listChamps{
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.mylist{
  margin-top: 3px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 79vh;
}

.notFound{
  min-height: 79vh;
}
